body {
   background-color: #1c8598;
}

.rubrique {
   color: white;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   letter-spacing: 1px;
}

.lien:hover {
   text-decoration: none;
   color:#ffc43d !important;
   font-weight: 400;
}

.lien:visited {
   color: white;
}

.lrouge:visited {
   color:white !important;
}

.lrouge:hover{
   text-decoration: none;
   color:#ffc43d !important;
}

.menu {
   margin-top: 60px;
}

.ligne {
   text-align: center;
   height: 20px;
   border-right: 1px solid white;
}

.taille21 {
   font-size: 21px;
   padding-top: 56px;
   padding-left: 30px;
}

.accroche {
   padding-top: 4em;
   padding-left: 30px;
}

.accroche-h1 {
   color: #ffc43d;
   font-weight: 700;
   letter-spacing: .8px;
   font-size: 4.5em;
   line-height: 75px;
   text-align: right;
}

.textebody {
   padding-left: 30px;
   color: white;
   font-size: 25px;
   text-align: right;
   font-weight: 100;
   letter-spacing: 1.2px;
   line-height: 30px;
}

.lienbis {
   text-align: center;
   padding-top: 60px;
   color: white;
   font-weight: 100;
   letter-spacing: 1.2px;
   line-height: 30px;
   font-size: 17px;
}

.lienphotomenu {
   font-size: 55px;
   font-weight: 100;
   line-height: 49px;
}
.lienphotomenu:hover {
   text-decoration: none !important;
   color:white!important;

}

.lienphotomenu:visited{
   color:white !important;
}

#photomenu1 {
   text-align: center;
   height: 550px;
   margin: 0;
   padding: 225px 2;
   background-image: url("../img/touristra-la-manne-village-vacances.jpg");
   background-size: cover;
   background-position: center;
}

#photomenu2 {
   text-align: center;
   display: block;
   height: 550px;
   padding: 225px 2;
   margin: 0;
   background-image: url("../img/village-vacances-la-manne-vacances-en-famille.jpg");
   background-size: cover;
   background-position: center;
}

#photomenu3 {
   display: block;
   height: 550px;
   text-align: center;
   margin: 0;
   padding: 225px 2;
   background-image: url("../img/village-vacacances-la-manne-gite.jpg");
   background-size: cover;
   background-position: center;
}

#photomenu4 {
   display: block;
   height: 550px;
   margin: 0;
   text-align: center;
   padding: 225px 2;
   background-image: url("../img/village-vacances-la-manne-nature-farniente-soleil.jpg");
   background-size: cover;
   background-position: center;
}

#photomenu5 {
   display: block;
   height: 550px;
   margin: 0;
   text-align: center;
   padding: 225px 2;
   background-image: url("../img/village-vacances-la-manne-var-provence-cote-azur.jpg");
   background-size: cover;
   background-position: center;
}

#photomenu6 {
   display: block;
   text-align: center;
   height: 550px;
   padding: 225px 2;
   margin: 0;
   background-image: url("../img/village-vacances-la-manne-blog-animations-heureux.jpg");
   background-size: cover;
   background-position: center;
}



@media (max-width: 768px) {
   .accroche-h1 {
      font-size: 3em;
      line-height: 50px;
   }
   .textebody {
      font-size: 20px;
   }
   .lienphotomenu {
      font-size: 40px;
   }
}

@media (max-width: 576px) {
   .photomenu {
      height: 400px;
   }
   .accroche-h1 {
      font-size: 2.5em;
      line-height: 40px;
   }
   .textebody {
      font-size: 18px;
      font-weight: 100;
      line-height: 30px;
   }
}