
body {
   background-color: white !important;
}

.photo-full-width{
   padding-left:0;
   padding-right:0;
}

p{
   line-height: 25px;
   font-size:18px;
}

.width102{
   width:102% !important;
}

.image_title {
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   left: 0;
   bottom: -9px;
   width: 100%;
   padding-left: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
}

.phototitre {
   background: url(../img/1900x500_village-vacances-la-manne-location-de-vacances-var-provence2.jpg)no-repeat center;
   height: 500px;
}

.phototitre-titre {
   font-family: 'Roboto', sans-serif;
   margin-left: 35px;
   height: 100px;
   background-color: white;
   margin-top: 248px;
   text-align: center;
   font-size: 35px;
   padding: 27px 0px 0px 0px;
   color: #1c8598;
}

.phototitre-h1 {
   font-family: 'Roboto', sans-serif;
   padding-left: 25px;
   margin-top: 20px;
   font-size: 25px;
   font-weight: 100;
   color: white;
   text-shadow: 1px 1px 2px black;
}

.phototitre-h2 {
   font-family: 'Roboto', sans-serif;
   padding-left: 25px;
   margin-top: 35px;
   font-size: 50px;
   color: white;
   text-shadow: 1px 1px 2px black;
}

.body-paragraphe {
   margin-bottom: 10px;
   text-align: justify;
   font-size: 20px;
   font-weight: 100;
   line-height: 30px;

}

.photo-body {
   padding: 2px 0px 0px 0px;
   margin-bottom: 2px;
}


.bulletpoint {
   list-style-type: disc;

}

.liensousmenu:hover {
   text-decoration: none !important;
   color: #7bdff2 !important;
}

.liensousmenu:visited {
   color: black;
}



@media (max-width:905px) {
   .phototitre-titre {
      font-size: 27px;
      line-height: 30px;
   }
}

.content {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom:10px;
   margin-top: 10px;

}

@media (max-width:768px) {
   .phototitre-titre {
      font-size: 27px;
      line-height: 30px;
   }

}

@media (max-width:562px) {
   .phototitre-titre {
      margin-top: 217px;
      font-size: 27px;
      line-height: 30px;
      padding: 37px 0px 0px 0px;
   }
}

@media (max-width:479px) {
   .phototitre-titre {
      padding: 10px 0px 0px 0px;
      margin-top: 163px;
      line-height: 28px;
   }
   .phototitre-h2 {
      font-size: 35px;
   }
}

