body {
   background-color: white !important;
}

.phototitre {
   margin-top: 136px;
   background: url(../img/village-vacances-var-location-gite-la-manne-spectacle-equipe-ete.jpg)no-repeat center;
   height: 500px;
}

.phototitre-titre {
   font-family: 'Roboto', sans-serif;
   margin-left: 35px;
   height: 100px;
   background-color: white;
   margin-top: 248px;
   text-align: center;
   font-size: 35px;
   padding: 27px 0px 0px 0px;
   color: #1c8598;
}

.phototitre-h1 {
   font-family: 'Roboto', sans-serif;
   padding-left: 25px;
   margin-top: 20px;
   font-size: 25px;
   font-weight: 100;
   color: white;
   text-shadow: 1px 1px 2px black;
}

.phototitre-h2 {
   font-family: 'Roboto', sans-serif;
   padding-left: 25px;
   margin-top: 35px;
   font-size: 50px;
   color: white;
   text-shadow: 1px 1px 2px black;
}

.body-paragraphe {
   margin-bottom: 10px;
   text-align: justify;
   padding-left: 35px;
   padding-right: 55px;
   font-size: 23px;
   font-weight: 100;
   line-height: 30px;
}

.photo-body {
   padding: 2px 0px 0px 0px;
   margin-bottom: 2px;
}

.padding0 {
   padding: 0;
}

.bulletpoint {
   list-style-type: disc;
}

.liensousmenu:hover {
   text-decoration: none !important;
   color: #7bdff2 !important;
}

.liensousmenu:visited {
   color: black;
}

.padding20 {
   padding-top: 20px;
}

@media (max-width:905px) {
   .phototitre-titre {
      font-size: 27px;
      line-height: 30px;
   }
}

.content {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

@media (max-width:768px) {
   .phototitre-titre {
      font-size: 27px;
      line-height: 30px;
   }
   .phototitre {
      margin-top: 57px;
   }
}

@media (max-width:562px) {
   .phototitre-titre {
      margin-top: 217px;
      font-size: 27px;
      line-height: 30px;
      padding: 37px 0px 0px 0px;
   }
}

@media (max-width:479px) {
   .phototitre-titre {
      padding: 10px 0px 0px 0px;
      margin-top: 163px;
      line-height: 28px;
   }
   .phototitre-h2 {
      font-size: 35px;
   }
}

@media (min-width:1638px) {
   .body {
      padding-left: 130px;
      padding-right: 130px;
   }
}

@media (min-width:2000px) {
   .body {
      padding-left: 200px;
      padding-right: 200px;
   }
}