
.phototitre {
   margin-bottom: 10px;
   margin-top:0px;
   background: url(../img/1900x500_villages-vacances-la-manne-activites-pour-tous.jpg)no-repeat center !important;
   height: 500px;
}

.fondblockquote{
   background-color:#ffc43d;
   margin : 0 0 1rem !important;

}

.couleur-titre-card{
color:#ef476F;
}

@media (max-width:768px) {
   .phototitre-titre {
      margin-top: 200px !important;
      height:120px;
   }
}

@media (max-width: 320px) {
   .phototitre-titre {
      
      margin-top:140px !important;
   }

   .taille-typo-h3{
      font-size: 22px !important;
   }
}