
.phototitre {
   margin-bottom: 15px;
   margin-top:0px;
   background: url(../img/1900x500_villages-vacances-la-manne-activites-pour-tous.jpg)no-repeat center !important;
   height: 500px;
}

.fondblockquote{
   background-color:#7bdff2;
   margin : 0 0 1rem !important;
}

.blockquote-text{
   color:#f8ffe5;
}

.couleur-titre-card{
color: #7bdff2;
letter-spacing: .1em;
}

@media (max-width:768px) {
   .phototitre-titre {
      margin-top: 200px !important;
      height:120px;
   }
}

@media (max-width: 320px) {
   .phototitre-titre {
      
      margin-top:140px !important;
   }

   .taille-typo-h3{
      font-size: 22px !important;
   }
}