/* 
appel typo : font-family: 'Roboto', sans-serif;
regular :

*/

.top-menu{
   z-index: 1;
   display: block;
   position:fixed;
   right : 39px;
   background-color: #7BDFF2;
   color:white;
   font-family: 'Roboto', sans-serif;
   font-size:15px;
   font-weight: 300;
   width:90px;
   height: 123px;
   text-align:center;
   top:0px;
   margin:0;
   padding-top: 15px;
   line-height: 10px;
   letter-spacing: 1px;
}

.hr-top-menu {
   z-index: 1;
   width: 85px;
   text-align:center;
   background-color:white;
   height:1px;
   border: none;
}

.rubrique{
   z-index: 1;
   margin:0;
   padding:0;
}

.black {
color:black;
}

.lien:visited {
   text-decoration: none;
   color:white;
   pointer-events: visible;
}

.circle{
   border-radius: 100px;
}

/* MEDIA QUERIES */
@media (max-width: 425px) {

   .top-menu{
      width:100%;
      position: fixed;
      right:0;
   }




}